
.my-container{
    display: flex;
    height: 100vh;
    width: 99vw;
    margin-top: 9%;
}

.formStyle {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
}
.variable {
    background-color: #252525;
    color: white;
    font-size: 0.82vw;
    border-radius: 7px;
    display: flex;
    height: 4%;
    width: 35%;
    transition: width 1s;
}
.variable:hover {
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 0 3pt 2pt green;
}
.constraint{
    background-color: #252525;
    color: white;
    font-size: 0.82vw;
    border-radius: 8px;
    width: 70%;
    height: 45%
}
.constraint:hover {
    border-radius: 10px;
    box-shadow: 0 0 3pt 2pt green;
}
.error{
    display: flex;
    color: red;
    font-size: 0.52vw;
    justify-self: flex-end;
    margin-top: -1%;
}
.domain {
    background-color: #252525;
    color: white;
    border-radius: 7px;
    font-size: 0.82vw;
    width: 70%;
    height: 30%;
}
.domain:hover {
    border-radius: 10px;
    box-shadow: 0 0 3pt 2pt green;
}
.centerAnimation{
    display: flex;
    flex: 0.5;
    margin-left: 15%;
    margin-top: 13%;
}
.hide{
    visibility: hidden;
}
.dropDown{
    --radius: 5px;
    --baseFg: white;
    --baseBg: #252525;
    --accentFg: #252525 ;
    --accentBg: orange;
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    width: 32%;
    height: 4%;
    font-size: 0.62vw;
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
}


.dropDown:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}
  
.dropDown:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
}
